body, html{
    /*background: url("../imagens/fundo2.jpg");*/
}

.logo{
    position: relative;
    text-align: center;
    font-size: 40px;
}

section{
    margin: 100px;
    text-align: center;
    font-size: 30px;
}

.catBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catBtn{
    color:#F5F0FF;
    margin: 100px auto;
    padding:10px 20px;
    background-color: #3a93cf;
    border-radius:7px;
    box-shadow:0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}

